<html>
    <head>
        <title>Patient Page</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="images/fevicon.ico.png" type="image/x-icon" />
        <link rel="stylesheet" href="mainpagestyle.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/stylesheet.css">
    </head>
    <body>
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-center">
              <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="details.htm">MY DETAILS</a>
                    <a class="nav-link" href="searchdisease.html">SEARCH DISEASE</a>
                    <a class="nav-link" href="searchdoctor.htm">SEARCH DOCTOR</a>
                    <a class="nav-link" href="feedback.html">FEEDBACK</a>
                    <a class="nav-link" href="login.html">LOGOUT</a>
                </nav>
              </div>
            </header>

            <div class="container contents">
                <div class="container text-center">
                    <h1 class="title">Personal Information</h1>
                <form method="post">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/></div>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        <div class="profile-tab">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>123</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Random</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Age</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>30</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Female</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>randomid@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>123 456 7890</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Location</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Random</p>
                                    </div>
                                </div>
                    </div>
                </div>
                                               
                <div class="add">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/></div>
</form>           
</div>
</div>                  
                                                    

            <!----footer-->
<footer class="mastfoot mt-auto text-center">
    <div class="inner">
      <p>© Disease Predictor and Specialist Recommender.</p>
    </div>
  </footer>
      </body>
  </html>