
<html>

<head>
  <link rel="stylesheet" href="loginsignupstyle.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
  {% load static %}
        <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign In</p>
    <form class="form1">
      <input class="un " type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <p>SignIn As</p>
      <label class="labelas">A Doctor
        <input type="radio" align="center">
      </label>
      <label class="labelas">A Patient
        <input type="radio" align="center">
      </label>
      
      <a class="submit" href ="/new.html" align="center">Sign In</a>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>
    </form>
    </div>
     
</body>

</html>
